.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

/*.my_social a img {
  height: 1.5em;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 50px 0 50px;
}

.checkbox {
  display: none;
}

.checkbox:checked+.domino {
  -webkit-transform: rotate(61deg);
  transform: rotate(61deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.checkbox:checked+.domino:nth-last-of-type(2) {
  -webkit-transform: rotate(65deg);
  transform: rotate(65deg);
}

.checkbox:checked+.domino:last-of-type {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.domino {
  display: inline-block;
  width: 17px;
  height: 70px;
  margin: 0 20px 20px 0;
  background: #ddd;
  border-style: outset;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.options {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 0 0 50px;
}

.more {
  border: none;
  background: #d41153;
  padding: 20px 50px;
  margin: 0 0 0 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  outline: none;
}

.more:hover {
  background: #a50a3e;
}

.quantity {
  width: 150px;
  height: 68px;
  padding: 20px;
  font-size: 24px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
